<h1>Update Student</h1>

<%= form_with model: @student do |f|%>
<%= f.text_field :name, placeholder: "Enter Your name "%> <br>
<%= f.text_field :age, placeholder: "Enter Your Age "%><br>
<%= f.submit%>
<%end%>
